@charset "utf-8";
/* style sheet for La Petite Lure */
body {

  font-family: arial,georgia;
  background-image: url("img/wall.jpg");
  background-attachment: fixed;

}

h2 {

  font-family: georgia;
  line-height: 1.3em;

}

.main_image {

  border-radius: 20px;
  width: 300px;
  height: 370px;

}


p {

  font-family: arial;
  font-size:90%;
  color:#333333;
  line-height: 1.3em;

}

h1{

  line-height: 1.3em;

}

th, td {

  padding: 10px;
  text-align: center;
  
}

#purchase th {

  color: #FFFFFF;

}

#product th:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);

}

#product th img {

  border-radius: 20px;
  width: 250px;
  height: 390px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}

#product th h3 {

  font-family: georgia;
  line-height: 1.3em;
  margin-top: -15px;

}

#navigation {

  background-color: #790A25;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

}

.dropdown {
  display: inline-block;
  position: relative;

}

.dropdown-content {
  display: none;
  position: absolute;
  width: 165px;
  overflow: auto;
  background-color: #790A25;

}

.dropdown:hover .dropdown-content {
  display: block;

}

.dropdown-content a {
  display: block;
  color: #000000;
  padding: 8px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;

}

.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #59071a;

}

#navigation a:hover {

  color: #D8AF0A;

}

#navigation a {

  text-decoration: none;
  color:#FFFFFF;
  margin-left: 10px;
  margin-right: 10px;

}

#contact tr th {

  text-align: left;
  padding-right: 250px;
  padding-left: 20px;

}

.button_active{

  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  height: 38px;
  padding: 8px 24px;
  border-radius: 50px;
  background-image: linear-gradient(180deg,#ff7c7c,#e03c3c);
  box-shadow: 0 4px 11px 0 rgba(97, 37, 43, 0.15), 0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all .2s ease-out;
  :hover{
      box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
  }
  
}

.button_active:hover{

  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);

}

div.info {

  margin-left: 33%;
  margin-bottom: 60px;

}

.main_image {

  border: 1px solid;
  border-color: black;
  margin-right: 10px;
  margin-left: 30px;

}

#page {

  border: 3px solid;
  border-color: #790A25;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 30px;
  margin-top: 20px;
  padding-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #FFFFFF;

}

#footer {

  text-align: center;
  border: 3px solid;
  border-color: #790A25;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
  background-color: #790A25;

}